*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  line-height: 120%;
}

ul {
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1440px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.header__logo {
  cursor: pointer;
  position: relative;
}
.header__logo::after {
  content: "";
  background-color: transparent;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease-out;
  height: 15px;
  width: 15px;
  z-index: 1;
}
.header__logo img {
  height: 60px;
  width: 60px;
}
.header__logo:hover::after {
  box-shadow: 0px 0px 55px 25px rgba(255, 255, 255, 0.23);
}

.nav__list {
  display: flex;
}
.nav__item {
  cursor: pointer;
}
.nav__item::after {
  content: "";
  background-color: #fff;
  display: block;
  position: relative;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.4s ease-out;
  height: 2px;
  width: 0;
}
.nav__item:hover::after {
  width: 100%;
}
.nav__item + .nav__item {
  margin-left: 30px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: relative;
  z-index: 2;
}
.main__content {
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/-1;
  grid-row: -1;
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
  height: calc(100vh - 150px);
  width: 100%;
}
.main__content--forest {
  background-image: url(../assets/img/forest.jpg);
}
.main__content--solovey {
  background-image: url(../assets/img/solovey.jpg);
}
.main__content--drozd {
  background-image: url(../assets/img/drozd.jpg);
}
.main__content--zarynka {
  background-image: url(../assets/img/zarynka.jpg);
}
.main__content--javoronok {
  background-image: url(../assets/img/javoronok.jpg);
}
.main__content--slavka {
  background-image: url(../assets/img/slavka.jpg);
}
.main__content--active {
  opacity: 1;
  visibility: visible;
}
.main__button {
  background-color: transparent;
  background-image: url(../assets/img/play.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  outline: none;
  filter: brightness(0.85);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s;
  height: 150px;
  width: 150px;
}
.main__button:hover {
  filter: brightness(1);
}

.applications {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}
.applications__item:first-child {
  margin-right: 10px;
}
.applications__item--github {
  margin-right: auto;
}
.applications__link {
  color: white;
}
.applications__github {
  transition: all 0.4s;
}
.applications__github:hover {
  scale: 1.1;
}
.applications__rs-school {
  transition: all 0.4s;
  height: 60px;
  width: 100px;
}
.applications__rs-school:hover {
  scale: 1.1;
}

@media (max-width: 768px) {
  .nav__list {
    font-size: 18px;
  }
}
@media (max-width: 660px) {
  .nav__item + .nav__item {
    margin-left: 10px;
  }
}
@media (max-width: 550px) {
  .nav__list {
    font-size: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav__item::after {
    top: -3px;
    height: 1px;
  }
}/*# sourceMappingURL=style.css.map */